/* Estilos globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Fondos y Capas */
    --fondo-principal: #fdf6e3;
    --fondo-suave: rgba(253, 246, 227, 0.8);
    --fondo-tarjeta: #ffffff;
    /* Colores de Marca / Énfasis */
    --color-primario: #d4af37;
    --color-primario-oscuro: #984c4c;
    --color-acentuado: #8b0000;
    /* Textos */
    --texto-principal: #222222;
    --texto-contraste: #ffffff;
    /* Acciones */
    --accion-color: #007BFF;
    --accion-hover: #0056b3;
    /* Iconos */
    --icono-color: #1e00ff;
    --icono-hover: #a80707;
    /* Sombras */
    --sombra-principal: rgba(0, 0, 0, 0.25);
}

/* Modo oscuro */
body.oscuro {
    --fondo-principal: #23043A; 
    --fondo-suave: #3a0437; 
    --fondo-tarjeta: #484747;

    --color-primario: #5d8ece; 
    --color-primario-oscuro: #1199a3;
    --color-acentuado: #60065c; 

    --texto-principal: #dcfbc5; 
    --texto-contraste: #ffffff;

    --accion-hover: #f7b8b0;
    
    --icono-color: #88ff80;
    --icono-hover: #fff;
    
    --sombra-principal: rgba(255, 255, 255, 0.25);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: background-color 0.5s ease;
    font-family: system-ui, Segoe UI, Roboto, Arial, sans-serif;
    line-height: 1.6;
    background-color: var(--fondo-suave);
    color: var(--texto-principal);
}

/* Menú */
.menu {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--fondo-principal);
    padding: 1.2rem 0;
    z-index: 1000;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 4px 8px var(--sombra-principal);
    color: var(--texto-principal);
}

.menu-toggle {
    font-size: 24px;
    cursor: pointer;
    display: none;
}

.menu ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.menu li {
    margin: 0 20px;
}

.menu a {
    text-decoration: none;
    color: var(--texto-principal);
    font-weight: 600;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

.menu a:hover {
    color: var(--accion-hover);
    border-bottom: 2px solid var(--color-primario);
}

#modoOscuroBtn {
    position: fixed;  
    top: 18px;
    right: 20px;
    background: none;       
    border: none;           
    padding: 0;             
    margin: 0;              
    display: inline-flex;   
    align-items: center;    
    cursor: pointer;
}

/* Contenedor estilo pergamino -> Ahora contenedor principal */
.container {
    text-align: center;
    padding-top: 20px;
    margin-top: 1rem;
    border-radius: 12px;
    background-color: var(--fondo-tarjeta);
}

/* Paleta */
.palette-style {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.color-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.color-label {
    position: absolute;
    top: -25px;
    font-weight: bold;
    color: var(--texto-principal);
}

.color-box {
    width: 100px; 
    height: 100px;
}

/* Textos */
h2 {
    margin-bottom: 20px;
    color: var(--texto-principal);
    text-shadow: 1px 1px var(--color-primario);
    font-weight: bolder;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: bold;
}

/* Iconos */
.copy-icon {
    cursor: pointer;
    stroke: var(--icono-color);
}

.copy-icon:hover {
    stroke: var(--icono-hover);
}

#color-code {
    font-weight: bold;
    color: var(--texto-principal);
}

/* Botones */
#color-btn, #copy-palette-btn {
    padding: 10px 20px;
    margin-bottom: 30px;
    font-size: 16px;
    color: var(--texto-principal);
    background-color: var(--color-primario);
    border-radius: 6px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#copy-palette-btn {
    margin-left: 10px;
}

#color-btn:hover, #copy-palette-btn:hover {
    background-color: var(--color-primario-oscuro);
    color: var(--texto-contraste);
    transform: scale(1.05);
}

/* Toast */
.toast {
    position: absolute;
    background: linear-gradient(135deg, var(--accion-color), var(--accion-hover));
    color: var(--texto-contraste);
    padding: 10px 10px;
    border-radius: 10px;
    font-size: 17px;
    display: flex;
    align-items: center;
    gap: 5px;
    box-shadow: 0 6px 12px var(--sombra-principal);
    opacity: 0;
    transform: translateY(-10px) scale(0.95);
    transition: opacity 0.4s ease, transform 0.4s ease;
    z-index: 1000;
}

.toast.show {
    opacity: 1;
    transform: translateY(0) scale(1);
}

.toast.hide {
    opacity: 0;
    transform: translateY(-10px) scale(0.95);
}

/* Media Queries */
@media (max-width: 900px) {
    .menu-toggle {
        display: block;
        padding-left: 40px;
    }

    #menu-list {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: var(--fondo-principal);
        position: absolute;
        top: 50px;
        left: 0;
        padding: 10px 0;
    }

    #menu-list.show {
        display: flex;
    }

    #menu-list li {
        margin: 10px 0;
        text-align: center;
    }
}

@media (max-width: 612px) {
    .color-form-style {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    #color-btn, #copy-palette-btn {
        padding: 10px 20px;
        margin: 30px auto;
        display: block;
        font-size: 12px;
        width: 80%;
        box-shadow: 3px 3px 0px var(--texto-principal);
    }

    .palette-style {
        display: grid;
        grid-template-columns: repeat(3, 80px);
        gap: 15px;
        justify-content: center;
        margin-top: 10px;
    }

    .color-block {
        width: 80px;
    }

    .color-box {
        width: 80px;
        height: 80px;
    }

    .color-label {
        top: -16px;
        font-size: 1rem;
    }
}